<html ng-app="Lexy">
  <head>
    <title>lexy</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
  </head>
  <body ng-controller="MainController as mainCtrl">
    <div class="row">
      <div class="col1-md-6 col-md-offset-3">
        <div class"page-header">
          <h1>Lexy</h1>
        </div>

    <form class="form-horizontal">

      <input type="text" placeholder="Post title" ng-model="mainCtrl.title">
      <input type="text" placeholder="Post body" ng-model="mainCtrl.body">
      <button class="postBtn" ng-click="mainCtrl.addPost()">Add post</button>
    </form>

    <div ng-repeat="post in mainCtrl.posts | orderBy: '-upvotes'">
      <span class="upvoteBtn" ng-click="mainCtrl.incrementUpvotes(post)">^</span>
        upvotes: {{ post.upvotes }}
      <span style="font-size:20px; margin-left:10px;">
        {{ post.title }}
        <span> {{ post.body }} </span>
      </span>

    </div>
  </body>
</html>
<!-- {{ post.title }} {{ post.body }} - -->
